/*------------------------------------------------------------------- for print ---------------------------------------------------------*/
.print-a4 {
    box-sizing:border-box;
    width:8.27in;
    padding:0.39in;
    padding-bottom:0;
    margin-left:auto;
    margin-right:auto;
    color:#222;
    overflow:hidden;
    background-color:#fff;
}
.print-a4-fix {
    box-sizing:border-box;
    width:8.2in;
    padding:0.25in;
    height:10.9in;
    margin-left:auto;
    margin-right:auto;
    color:#222;
    overflow:hidden;
    background-color:#fff;
}
.print-letter {
    box-sizing:border-box;
    width:8.5in;
    padding:0.39in 0.46in;
    padding-bottom:0;
    margin-left:auto;
    margin-right:auto;
    color:#222;
    overflow:hidden;
    background-color:rgb(255,255,255);
}
.print-box {
    overflow:hidden;
    margin-bottom:0.1in;
}
.print-list {
    display:inline-block;
    float:left;
}
.print-list-title,.book-title {
    width:1.4in;
    display:inline-block;
    float:left;
    clear:left;
}
/*------------------------------------------------------------------- ใบสั่งงาน ---------------------------------------------------------*/
#pto{
    width:100%;
    border-collapse:collapse;
    border:1px #D7D8D7 solid;
    table-layout:fixed;
    font-size:11pt;
    margin-left:auto;
    margin-right:auto;
}
#pto .space {
    height:0.25in;
}
#pto th, #pto td {
    padding:5px;
    border:1px #D7D8D7 solid;
}
#pto th {
    background-color:#ffe699;
}
#pto .job-pic img{
    width:100%;
    height:auto;
}

/*------------------------------------------------------------------- DOC HEADER ---------------------------------------------------------*/
.c-head {
    margin-bottom:0.1in;
    position:relative;
}
.c-logo {
    display:inline-block;
    width:15%;
}
.c-logo img {
    width:100%;
    height:auto;
}
.c-info {
    display:inline-block;
    box-sizing:border-box;
    width:60%;
    padding-left:0.5cm;
    font-size:11pt;
    vertical-align: top;
}
.c-name {
    font-weight:600;
}
.doc-name {
    display:inline-block;
    width:22%;
    margin-left:3%;
    text-align:center;
    vertical-align: top;
}
.doc-page {
    position:absolute;
    bottom:0in;
    right:0.1in;
    display:inline-block;
    width:22%;
    text-align:center;
    font-size:11pt;
    font-weight:600;
}
.doc-name span {
    display:block;
    margin-left:auto;
    margin-right:auto;
    color:#444;
    font-size:15pt;
    padding:0.2cm 0 0.3cm 0;
    border-radius:0.2cm;
    border:0.1cm solid #444;
}
.doc-name-center {
    text-align:center;
}
.doc-name-center span {
    display:inline-block;
    color:#444;
    font-size:15pt;
    padding:0.15in;
    border-radius:0.2cm;
    border:0.1cm solid #444;
}
/*------------------------------------------------------------------- DOC INFO ---------------------------------------------------------*/
.doc-info {
    position:relative;
    padding:0.1in;
    border:rgb(150,150,150) solid 1px;
    font-size:11pt;
}
.doc-to {
    display:inline-block;
    width:4.6in;
    font-size:10pt;
}
.sup-info {
    float:left;
    padding-left:0.5cm;
}
.doc-date {
    position:absolute;
    right:0.5cm;
    top:0.5cm;
    width:2.7in;
    text-align:right;
    vertical-align: top;
}
.doc-600 {
    font-weight:600;
    font-size:10.5pt;
}
/*------------------------------------------------------------------- DOC DETAIL ---------------------------------------------------------*/
.doc-dt {
    margin-top:0.3cm;
}
#tb-rp {
    padding:0;
    margin-bottom:0;
}
#tb-rp td {
    font-size:10.5pt;
}
#tb-rp>table {
    border:rgb(150,150,150) solid 1px;
}
#tb-rp th {
    background-color:#fff;
}
#tb-rp tr.tb-data:nth-child(odd){
    background-color:#fff;
}
.head-color #tb-rp th {
    background-color:#ffe699;
}
.head-color #tb-rp tr.tb-data:nth-child(odd){
    background-color:#f5f8f9;
}
#tb-rp th:nth-child(1){
    width:0.5in;
}
#tb-rp th:nth-child(2){
    width:4in;
}
.tb-discount {
    border:rgb(150,150,150) solid 1px;
}
.tb-sum td,
.tb-sum th{
    border:rgb(150,150,150) solid 1px;
}
#tb-rp .tb-data td{
    border-right:rgb(150,150,150) solid 1px;
}
#tb-rp tr.tb-data:nth-child(even){
    border-top:#D7D8D7 solid 1px;
    border-bottom:#D7D8D7 solid 1px;
}
#tb-rp .tb-head {
    border:rgb(150,150,150) solid 1px;
}
#tb-rp .tb-data td:nth-child(2) {
    padding-left:0.1in;
    text-align:left;
}
#tb-rp tr.tb-data{
    padding:0;
    height:0.4in;
}

#tb-rp #tb-multi-q th {
    width:2cm;
    background-color:#f6f9fc;
}
#tb-rp #tb-multi-q .tb-data{
    height:1cm;
}
#tb-rp #tb-multi-q td {
    background-color:#fff;
    text-align:center;
}
#tb-rp .list-inlist {
    padding-left:0.2in;
}
/*------------------------------------------------------------------- MULTI QUOTE ---------------------------------------------------------*/
.print-extra {
    font-size:11pt;
    margin-top:0.1in;
}
#tb-multi-q {
    padding:0;
    margin-bottom:0;
}
#tb-multi-q table {
    border: rgb(150,150,150) solid 1px;
}
#tb-multi-q th:first-child{
    width:0.5in;
}
#tb-multi-q th:nth-child(2){
    width:4in;
}
#tb-multi-q td{
    border-right: rgb(150,150,150) solid 1px;
}
#tb-multi-q tr td:last-child{
    border-right: none;
}
/*------------------------------------------------------------------- DOC REMARK ---------------------------------------------------------*/
.doc-final {
    width:100%;
    margin-top:0.3cm;
    border:rgb(150,150,150) solid 1px;
    border-collapse: collapse;
}
.doc-final th{
    background-color:#fff;
}
.doc-final.head-color th{
    background-color:#ffe699;
}
.doc-final th,
.doc-final td {
    padding:3px 7px;
    font-size:11pt;
    border:rgb(150,150,150) solid 1px;
    box-sizing:border-box;
}
.doc-final tr:nth-child(2) {
    vertical-align: top;
}
.doc-sign {
    text-align:center;
    padding:0 !important;
}
.doc-sign img{
    padding-top:5px;
    height:95%;
    width:auto;
}
#rp-cus-sign td,
#rp-cus-sign th {
    font-size:10pt;
}
/*----------------------------------------------------------------  Jdetail   -----------------------------------------------------*/
.jdetail {
    border:none !important;
    background:none !important;
}
.jdetail td:first-child{
    width:1.3in;
}
.jdetail td,
.jdetail tr{
    padding:0 !important;
    vertical-align: top;
    text-align:left;
    border:none !important;
}
#tb-rp .jdetail tr{
    height:0.2in;
}
.job-list {
    padding-left:0.2in;
}
/*----------------------------------------------------------------  FONT   -----------------------------------------------------*/
@font-face {
    font-family: 'Conv_supermarket_1';
    src: url('fonts/supermarket_1.eot');
    src: local('☺'), url('fonts/supermarket_1.woff') format('woff'), url('fonts/supermarket_1.ttf') format('truetype'), url('fonts/supermarket_1.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.ghpp_font,
.ghpp_font .c-info,
.ghpp_font .c-info span,
.ghpp_font .doc-name span{
    font-family: 'Conv_supermarket_1' !important;
    line-height:0.6cm;
    font-size:12.5pt;
}
.doc-info.ghpp-doc-info{
    border:none;
    padding:0;
    height:1.45in;
}
#tb-rp.ghpp-tb th{
    font-size:11.5pt;
    background-color:#BAD68E;
}
#tb-rp.ez-table tr.tb-data{
    border-bottom:none;
    border-top:none;
}
.ghpp-sign {
    padding-top:0.5cm;
    text-align:center;
}
.ghpp-sign table{
    width:100%;
}
.ghpp-sign table td{
    width:50%;
}
.ghpp-sign p{
    padding-top:0.2cm;
}
.ghpp-pay table {
    margin-bottom:0.2cm;
}
.ghpp-pay table td{
    vertical-align: top;
    font-size:11pt;
    padding-right:0.5cm;
    padding-top:0.2cm;
}
.square-check {
    display:inline-block;
    border:1px solid #444;
    width:0.5cm;
    height:0.4cm;
    margin-right:0.3cm;
    border-radius:3px;
}
.square-check.blank {
    border:1px solid #fff;
}
.cus-info-left {
    float:left;
    clear:left;
    width:1in;
    font-weight:600;
}
.cus-info-right {
    float:left;
    width:3.6in;
    word-break:normal !important;
}
/*------------------------------------------------------------  FOR PRINT ON COPY PAPER----------------------------------------------------*/
.doc-header {
    height:1.60in;
}
.doc-date.ghpp {
    right:0;
}
.doc-dt.ghpp {
    margin:0;
}
#tb-rp-ghpp,
#tb-rp-ghpprc{
    padding:0;
}
#tb-rp-ghpp table,
#tb-rp-ghpprc table{
    border:none !important;
}
#tb-rp-ghpp th:first-child,
#tb-rp-ghpprc th:first-child{
    width:1.4cm;
}
#tb-rp-ghpp th:nth-child(2),
#tb-rp-ghpprc th:nth-child(2){
    width:9.4cm;
}
#tb-rp-ghpp .tb-data td:nth-child(2),
#tb-rp-ghpprc .tb-data td:nth-child(2){
    padding-left:0.5cm !important;
}
#tb-rp-ghpp tr:first-child,
#tb-rp-ghpprc tr:first-child{
    border:none;
}
#tb-rp-ghpp .tb-head,
#tb-rp-ghpprc .tb-head{
    background-color:#fff;
    height:1cm;
}
#tb-rp-ghpp .tb-data td,
#tb-rp-ghpp .tb-sum {
    height:1.015cm;
    padding:0;
}
#tb-rp-ghpprc .tb-data td{
    height:1.11cm;
    padding:0;
}
#tb-rp-ghpprc .tb-sum {
    height:1.4cm;
}
#tb-rp-ghpp tr.tb-data:nth-child(odd),
#tb-rp-ghpprc tr.tb-data:nth-child(odd){
    background-color:#fff;
}
#tb-rp-ghpp td:nth-child(2) {
    text-align:left;
}
#tb-rp-ghpp .tb-discount {
    height:0.8cm;
    border:none;
}
#tb-rp-ghpp .print-hide,
#tb-rp-ghpprc .print-hide {
    display:none;
}
#tb-rp-ghpp .tb-sum td,
#tb-rp-ghpp .tb-sum th,
#tb-rp-ghpprc .tb-sum td,
#tb-rp-ghpprc .tb-sum th{
    border:none;
    text-align:center;
}