.ez-table {
    margin-bottom:25px;
}
.but-right {
    width:auto;
}
#scid-res,
#search_size-res{
    float:right;
    padding-left:0;
}
.icon-alert {
    color:orange;
}
.tb-total {
    border-top:1px #333 solid;
}
.tb-gtotal {
    border-top:3px #333 double;
    font-size:16px;
    font-weight:600;
}
#tb-quote tr th:first-child,
#tb-quote tr th:nth-child(2){
    width:35px;
}
@media only screen and (min-width: 320px) {

}
@media only screen and (min-width: 480px) {
    
}
@media only screen and (min-width: 769px) {
    #tb-quote tr th:nth-child(3){
        width:105px;
    }
}
@media only screen and (min-width: 1024px) {

}

.tb-first-gp {
    border-top:1px solid rgb(200,200,200);
}
.tb-first-gp>th {
    background-color:#fff;
    border-right:1px solid rgb(200,200,200);
}
#tb-cost tr th:first-child {
    border-right:1px solid rgb(200,200,200);
}
.tb-mg-input,
.tb-mg-input-tt{
    display:inline-block;
    width:100%;
}
#tb-total-quote {
    cursor:pointer;
}
#tb-total-quote:hover {
    color:#2977bc;
}
.tb-legend {
    margin-bottom:10px;
    font-size:14px;
}
#tb-pshow .label-inline,
#tb-qshow .label-inline{
    margin-bottom:0;
}
.quote-red {
    color:red;
    font-weight:600;
}
.tb-adj-cost,
.tb-adj-paper,
.tb-adj-paperkg{
    width:100%;
    padding:0 5px !important;
}
#copy-quote {
    margin-left:15px;
}